{% extends 'gestion/base.html' %}

{% block title %}Liste des Employés{% endblock %}

{% block content %}
    <h2 class="mb-3">Liste des Employés</h2>
    <a href="{% url 'ajouter_employe' %}" class="btn btn-primary mb-3">Ajouter un Employé</a>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Poste</th>
                <th>Date d'embauche</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
            <tr>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.email }}</td>
                <td>{{ employe.telephone }}</td>
                <td>{{ employe.poste }}</td>
                <td>{{ employe.date_embauche }}</td>
                <td>
                    <a href="{% url 'modifier_employe' employe.id %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'supprimer_employe' employe.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
